<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="container">
    <h2>Каталог ссылок</h2>

    <form method="post">
        <input name="title" placeholder="Название" required>
        <input name="url" placeholder="Ссылка" required>
        <textarea name="comment" placeholder="Комментарий"></textarea>
        <button>Сохранить</button>
    </form>

    <ul>
    {% for l in links %}
        <li>
            <a href="{{ l[2] }}" target="_blank">{{ l[1] }}</a>
            <div>{{ l[3] }}</div>
            <a href="{{ url_for('delete', link_id=l[0]) }}" class="delete-btn">Удалить</a>
        </li>
    {% endfor %}
    </ul>

    <a href="/logout" class="logout">Выйти</a>
</div>

</body>
</html>