<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Регистрация</h2>
    <form method="post">
        <input name="username" placeholder="Логин" required>
        <input name="password" type="password" placeholder="Пароль" required>
        <button>Создать аккаунт</button>
    </form>
    <a href="/login">Войти</a>
</div>

</body>
</html>
